<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <link rel="shortcut icon" href="icon.png" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Reset Your Password</title>
  </head>
  <body>
    <div class="passwordcontainer" id="container">
      <div
        class="form-container password-reset-container"
        id="passwordResetContainer"
      >
        <form autocomplete="off" method="post" action="/reset-password">
          <h1>Forgot Password</h1>
          <input type="text" placeholder="Token" name="resetToken" required />
          <div class="password-field-container">
            <input
              type="password"
              placeholder="New Password"
              name="newPassword"
              class="reset-password-field show-password"
              pattern="^(?=.*[a-z].*[a-z])(?=.*[A-Z].*[A-Z])(?=.*\d.*\d)(?=.*[^a-zA-Z0-9].*[^a-zA-Z0-9]).{8}$"
              required
            />
            <span class="password-toggle" id="passwordToggle">
              <i class="far fa-eye"></i>
            </span>
          </div>
          <ul class="password-instructions">
            <li>
              Password must contain at least <br /><b>2 lowercase letters.</b>
            </li>
            <li>
              Password must contain at least <br /><b>2 uppercase letters.</b>
            </li>
            <li>Password must contain at least <br /><b>2 digits.</b></li>
            <li>
              Password must contain at least
              <b>2 special characters(@,#,$...).</b>
            </li>
            <li>Password cannot be <b> longer than 8 characters.</b></li>
          </ul>
          <button>Reset Password</button>
          <a href="/account">Back To Login</a>
        </form>
      </div>
    </div>
  </body>
  <script>
    const passwordFields = document.querySelectorAll(".reset-password-field");
    const passwordInstructions = document.querySelectorAll(
      ".password-instructions"
    );

    passwordFields.forEach((passwordField, index) => {
      passwordField.addEventListener("focus", () => {
        passwordInstructions[index].classList.add("show");
      });

      passwordField.addEventListener("blur", () => {
        if (passwordField.value === "") {
          passwordInstructions[index].classList.remove("show");
        }
      });

      passwordField.addEventListener("input", () => {
        if (passwordField.value !== "") {
          passwordInstructions[index].classList.remove("show");
        }
      });
    });
    const passwordField = document.querySelectorAll(".show-password");
    const passwordToggle = document.getElementById("passwordToggle");

    passwordToggle.addEventListener("click", () => {
      passwordField.forEach((passwordField) => {
        const fieldType = passwordField.getAttribute("type");
        if (fieldType === "password") {
          passwordField.setAttribute("type", "text");
          passwordToggle.innerHTML = '<i class="far fa-eye-slash"></i>';
        } else {
          passwordField.setAttribute("type", "password");
          passwordToggle.innerHTML = '<i class="far fa-eye"></i>';
        }
      });
    });
  </script>
</html>
